@model MVC_EF_Start.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reviewer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewer_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.review_Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.review_Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.review_rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.review_rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.review_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
